<div class="content-box">
    <img src="/<%= username %>/profile.jpeg" width="100" height="100">
    <form action="/upload?username=<%= username %>" enctype="multipart/form-data" method="post">
        <input type="file" name="<%= username %>" name="multipleFiles" multiple="multiple" />
        <input type="submit" value="Upload" />
    </form>
    <a href="/feed?username=<%= username %>"><%= username %></a>
</div>